@import "reset.scss";
body {
  margin: 0 0%;   /* x e y*/
}
header{
  background-color:rgba(0, 161, 255, 0.71);
  /*position: fixed;*/
  margin-top: 10px;
  width: 96%;/*esta a 96 para termos uma guia para acertar com o rodapé*/
}
.logo{
  margin-top: 8px;
  margin-left: 50px;
  width: 15%;
}
.menu{
  color: rgb(150, 150, 150);
  margin-top: -16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13pt;
  font-weight: bold;
}
.menu li{
 margin:-20px 0px 0px 20px;
 list-style: none;
}
.sectionum{
  background-color:rgba(13, 0, 255, 0.27);
  height: 580px;
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items:flex-end;
}
.sectiondois{
  font-family: "josefin Sans", sans-serif;
  font-size: 13pt;
  position: absolute;
  top:200px;
  width: 50%;
/*padding-right: 600px;
  padding-left: 100px;*/
}
.sectiondois h2{
  font-weight: bold;
  font-size: 50pt;
  padding-bottom: 20px;
}
.textoapresentaçao{

}
.contactos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  border:2px;
  border-style: solid;
  width: 270px;
  height: 274px;
}
.contactos li{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  line-height: normal;
}
footer{
  background-color:rgba(0, 161, 255, 0.71);
  /*position: fixed;*/
  bottom: 10px;
  width: 96%;
}
.partilha{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top:8px;
  margin-bottom: 0px;
}
.partilha li{
  width: 20px;
  margin:0px 10px 0px 10px;
  list-style: none;
}
.partilha li:first-child{
  margin:0px 50px 0px 10px;
}
